section {
    width: 600px;
}

label,
input,
button,
textarea,
select {
    display: block;
}

input {
    width: 100%;
    font-size: 1.1rem;
    padding: .5rem;
    border: 0.5;
}

textarea {
    width: 100%;
    resize: none;
}

select {
    width: 100%;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

label {
    margin-top: 1rem;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
}

span {
    font-size: 14px;
    color: grey;
    font-family: 'Assistant', sans-serif;
}

button {
    margin-top: 1rem;
    margin-left: 15rem;
    border: 0;
    border-radius: 4px;
    padding: .75rem 1rem;
    background-color: #D9C9C1;
    font-family: 'Assistant', sans-serif;
}
