section {
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px;
}

/* Navigation */
.hidden {
    opacity: 0;
}

nav {
    text-align: center;

}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

#menuknap {
    display: inline-block;
    margin-top: 35px;
    font-size: 35px;
    cursor: pointer;
}

#menu {
    list-style-type: none;
    text-decoration: none;
}

#menu li {
    display: inline-block;
    font-size: 1vw;

}

/* footer */

footer .footer {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw;
    background-color: #FAF2EC;
}

footer h4 {
    text-align: center;
}

footer p {
    text-align: center;
}


/* Form */
label,
input,
button,
textarea {
    display: block;
}

input {
    width: 300px;
}

/* Om os section 1 */

#om_os .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5vw;
}

#om_os .section_wrapper p {
    margin-top: 8vw;
}

#om_os .section_wrapper h2 {
    position: absolute;
    margin-left: 32.7rem;
    margin-top: 1rem;
    font-size: 45px;
    color: #FAF2EC;
}

#om_os img {
    width: 700px;
    height: 500px;
}


/* Blomster Abonnement section */

#blomster_abonnement .section_wrapper {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5vw;

}

#blomster_abonnement .section_wrapper p {
    margin-top: 10rem;
    font-size: 20px;
}

#blomster_abonnement .section_wrapper h2 {
    position: absolute;
    margin-left: 28.7rem;
    margin-top: 1rem;
    font-size: 60px;
    color: #FAF2EC;
}

/* Bestil Blomster */

#bestil_blomster .section_wrapper {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5vw;

}

#bestil_blomster .section_wrapper p {
    margin-top: 10rem;
    font-size: 20px;
}

#bestil_blomster .section_wrapper h2 {
    position: absolute;
    margin-left: 29rem;
    margin-top: 1rem;
    font-size: 60px;
    color: #FAF2EC;
}
